
@{
    ViewData["Title"] = "Home Page";
}

<marquee style="margin-top: 30px">Dúvidas entre em contato pelo 0800-777-8500</marquee>

<div class="text-center" style="        border: solid;
        border-radius: 10px;
        margin-top: 150px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCQhXSwWM2iTP8M65fbPU6SY7SF7X7KnpmtQ&usqp=CAU)">
    <h1 class="display-4">Seja bem vindo a gestão de mercados</h1>

</div>

<div class="text-lg-center" style="        border: solid;
        background-color: white;
        border-radius: 10px;
        font-size: 50px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCQhXSwWM2iTP8M65fbPU6SY7SF7X7KnpmtQ&usqp=CAU);
        margin-top: 150px;
        color: dodgerblue">
    

    Aqui é possível cadastrar novos mercados, consulta-los, realizar alterações e ainda Excluir.

</div>






